#####################################################################
# Start Print and End Print
# Replace the slicer's custom start and end g-code scripts with
# START_PRINT and END_PRINT.
# But not sure if it need to be in config rather than slicer
#####################################################################
[gcode_macro START_PRINT]
default_parameter_BED_TEMP: 110
default_parameter_EXTRUDER_TEMP: 230
gcode:
    # Reset the G-Code Z offset (adjust Z offset if needed)
    SET_GCODE_OFFSET Z=-0.045
    # Set relative extrusion
    M83
    # Start bed heating
    M140 S{BED_TEMP}
    # Use absolute coordinates
    G90
    # Home the printer
    G28
    # Move the nozzle near the bed
    G1 Z5 F3000
    # Move the nozzle very close to the bed
    G1 Z0.15 F300
    # Wait for bed to reach temperature
    M190 S{BED_TEMP}
    # Set and wait for nozzle to reach temperature
    M109 S{EXTRUDER_TEMP}
    M117 Printing...

[gcode_macro END_PRINT]
gcode:
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    # Move nozzle away from print while retracting
    G91
    G1 X-2 Y-2 E-3 F300
    # Raise nozzle by 10mm
    G1 Z10 F3000
    # Home and deretract, so no empty nozzle
    G28 X0 Y0
    G1 E3 F300
    G90
    # Disable steppers
    M84
    BEEP_ALERT
    M117 Done!
#####################################################################
[gcode_macro LOAD_FILAMENT]
gcode:
    M83
    G1 E600 F1800
    G1 E15 F300
    G1 E15 F150
    # M82
	M117 Load Complete!

[gcode_macro UNLOAD_FILAMENT]
gcode:
    M83
    G1 E10 F300
    G1 E-620 F1800
    # M82
#####################################################################
